---
import EmblaCarousel from '@/components/index/staff/EmblaCarousel';
import FounderFrame from '@/components/index/staff/FounderFrame';
import { SLIDES, FOUNDERS } from '@/consts/staff';
import PrimaryButton from '@/components/primaryButton.astro'

const OPTIONS = { align: 'start', loop: true };

---

<section class="w-full lg:h-screen px-5">
    <div class="min-w-full h-5/6 bg-primary_light/40  rounded-2xl overflow-visible p-3">
        <div class="service-staff-text w-full lg:h-1/3  flex flex-col">
                <h1 class="uppercase text-left  text-2xl md:text-4xl lg:text-5xl  font-semibold tracking-wide  text-primary mb-3">
                    Tu equipo de confianza
                </h1>
                <p class="text-base md:text-lg lg:text-xl   tracking-wide leading-relaxed font-light mb-3 ">
                    Nos enorgullece contar con un equipo de profesionales altamente capacitados y apasionados por el cuidado animal.
                </p>
                <p class="text-base md:text-lg  lg:text-xl  tracking-wide leading-relaxed font-light">
                    Nos esforzamos por brindar una atención de calidad y personalizada, asegurando que tu mascota reciba el mejor cuidado posible.
                </p>
        </div>
        <div class="service-staff-founder w-full lg:h-1/3 flex flex-col justify-start items-start md:flex-row p-5  ">
          {FOUNDERS.map((founder) => (
            <FounderFrame client:load 
              id={founder.id}
              name={founder.name}
              designation={founder.designation}
              image={founder.image}
             />
          ))}
        </div>
         <div class="service-staff-team w-full lg:h-1/3 flex flex-col justify-center  ">
            <EmblaCarousel slides={SLIDES} options={OPTIONS} client:load />
         </div>
    </div>
    <div class="h-1/6 flex items-center justify-center my-5 " >
        <PrimaryButton  title="Conoce al equipo"
        icon="icon-[streamline--add-circle]"
        href={"equipo"}/>
    </div>
</section>
