---
import ServiceCards from '@/components/index/ServiceCard.astro';
import { SERVICES_INITIAL } from '@/consts/services';
import PrimaryButton from '@/components/primaryButton.astro'
---

<div class="w-full flex flex-col gap-3 p-5">
  <div class="w-full h-1/6 flex flex-col justify-evenly">
    <h1 class="service-title uppercase text-left text-2xl md:text-4xl lg:text-5xl font-semibold tracking-wide text-primary">
      Salud Integral
    </h1>
    <p class="w-full text-base md:text-lg lg:text-xl tracking-wide leading-relaxed font-light ">
      Cuidamos a tu mascota como si fuera parte de nuestra familia, ofreciéndole los mejores servicios para su bienestar y salud.
    </p>
  </div>
  <div class="flex flex-col">
    <div class="cards flex flex-col lg:flex-row justify-center items-center lg:items-start lg:flex-wrap">
      {SERVICES_INITIAL.map((service, index) => (
        <ServiceCards
          serviceImg={service.img}
          title={service.title}
          description={service.description}
          index={index}
          alt={service.alt}
        />
      ))}
    </div>
    <div class="w-full flex justify-center items-center lg:my-10">
      <PrimaryButton
        title="Más servicios"
        icon="icon-[streamline--add-circle]"
        href="/servicios"
      />
    </div>
  </div>
</div>
