---
import '@fontsource-variable/space-grotesk';
import Footer from '@/sections/Footer.astro';
import NavbarMenu from '@/components/NavBar';
interface Props {
	title: string;
	description:string,
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- <link rel="canonical" href="https://zoavet.com.co/" /> -->
		<meta name="viewport" content="width=device-width" />

		<meta name="keywords" content="veterinaria, urgencias, mascotas, veterinario, animales, consulta, esterilización" />
		<meta charset="UTF-8" />

		<meta name="og:image" content="/homescreeen-min.png"/>
		<meta name="og:title" content="Zoavet - Clinica veterinaria."/>
		<meta name="og:description" content={description} />
		<!-- <meta name="og:url" content="https://zoavet.com.co/" /> -->
		<meta name="og:site_name" content="Zoavet Clinica Veterinaria" />
		<meta name="og:type" content="website" />
		<meta name="og:locale" content="es_COL" />

		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow" />
		<title>{title}</title>
	</head>
	<body class="bg-primary_light/20">
    <div class="max-w-7xl mx-auto lg:pt-24">
      <NavbarMenu  client:load/>
			<slot />
      <div class="fixed right-0 top-1/2 flex flex-col gap-5 justify-center items-center">
        <a title="link whatsapp" href="https://wa.me/573046029130" target="_blank" rel="noopener noreferrer" class="whatsapp-general group flex justify-center items-center p-2 bg-white shadow-sm lg:hover:shadow-primary border-[0.5px] border-primary_light z-50 rounded-tl-xl rounded-bl-xl transition-shadow duration-300">
          <span class="icon-[ph--whatsapp-logo-duotone] text-6xl text-primary lg:group-hover:scale-110 transition-all duration-300"></span>
        </a>
        <a title="link contacto"  href="/contacto" class=" group whatsapp-general hidden lg:flex justify-center items-center p-2 bg-white shadow-sm hover:shadow-secondary border-[0.5px] border-primary_light z-50 rounded-tl-xl rounded-bl-xl transition-shadow duration-300">
          <span class="icon-[ph--first-aid-duotone] text-6xl text-secondary group-hover:scale-110 transition-all duration-300"></span>
        </a>
      </div>
		</div>
	</body>
</html>
<style is:global>
	:root {
		--color-primary: #60a09a;
		--color-primary-light:#e1f0ee;
		--color-secondary: #e67658;
		--color-secondary-light: #fae4de;
		--color-dark: #5E5D5C;

	}
	html {
		font-family: 'Space Grotesk Variable', sans-serif;
		overflow-x: hidden;
		overscroll-behavior: none;
	}

	/* about carousel */
	.embla {
      overflow: hidden;
    }
    .embla__container {
     display: flex;
    }
    .embla__slide {
      flex: 0 0 100%;
      min-width: 0;
    }
    .ClicContainer {
      background-color: #60a09a;
    }
    .textIcon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      color: white;
      font-size: 1rem;
    }
</style>

<script>
	// __ card animations from  devices min width 1024px, lg in tailwind.
	import gsap from "gsap"; 
	import { ScrollTrigger } from "gsap/ScrollTrigger";
  
	gsap.registerPlugin(ScrollTrigger);
  
	const setupCardAnimations = (bannerIndex: number) => {
	  const selectorPrefix = `.card-${bannerIndex}`;
  
	  const scrollTriggerSettings = {
		trigger: ".embla",
		start: "center top",
		end: "center top",
		toggleActions: "play none none none",
	  };
  
	  const commonAnimationProps = {
		marginTop: 0,
		ease: "power1.out",
		duration: 1,
		delay: 0.5 * bannerIndex, // Set delay dynamically based on index
	  };
  
	  gsap.fromTo(`${selectorPrefix}`,
		{
		  y: 100, // Start from 100px below the normal position
		  opacity: 0 
		},
		{
		  scrollTrigger: scrollTriggerSettings,
		  y: 0, // End at the normal position
		  opacity: 1,
		  ...commonAnimationProps,
		});
	};
  
	const setupAnimations = () => {
	  // Apply animations to all banners from 0 to 4
	  for (let i = 0; i <= 3; i++) {
		setupCardAnimations(i);
	  }
	};
  
	const init = () => {
	  const divElement = document.querySelector(".card-0");
  
	  if (divElement instanceof HTMLElement) {
		setupAnimations();
	  } else {
		console.error("Element not found or not an HTMLElement");
	  }
	};
  
	const breakPoint = gsap.matchMedia();
  
	breakPoint.add("(min-width: 1024px)", init);

// __ card animations from  devices max-width 748px, tablets adn below md in tailwind.
const initMobile = () => {
  // Get all the card elements
  const items = gsap.utils.toArray<HTMLElement>(".DirectionAwareHover"); // Explicitly typing as HTMLElement

  // Loop through each card and set up the animation, except the last one
  items.forEach((item, index) => {
    // Skip the animation for the last card
    if (index === 3) return;

    // Adjust the animation-item value to set the offset for each card
    const animationOffset = 10 * (index + 1) + "px";

    let tl = gsap.timeline({
      scrollTrigger: {
        trigger: item, // Use the item itself as the trigger
        start: `top top+=${animationOffset}`,
        endTrigger: ".card-3", // Adjust this if necessary based on layout
        end: "top 24rem",
        pin: true, // Pin each card
        pinSpacing: false, // No spacing between pins
        scrub: true, // Smooth scrubbing
      },
    });

    tl.to(item, {
      opacity: 0.4,
      scale: 0.85 + 0.02 * index,
      transformOrigin: "center center",
    });
  });
};

// Setup the animations when viewport width is below 768px
breakPoint.add("(max-width: 768px)", initMobile);

gsap.fromTo(".service-staff-text", 
  {
    y: 100, // Start from 100px below the normal position
    opacity: 0 // Start invisible
  }, 
  {
    y: 0, // End at the normal position
    opacity: 1, // End fully visible
    scrollTrigger: {
      trigger: ".card-3",
      start: "center top",
      end: "center top",
      toggleActions: "play none none none",
	},
    ease: "power1.out",
    duration: 1,
  }
);
gsap.fromTo(".service-staff-founder", 
  {
    y: 100, // Start from 100px below the normal position
    opacity: 0 // Start invisible
  }, 
  {
    y: 0, // End at the normal position
    opacity: 1, // End fully visible
    scrollTrigger: {
      trigger: ".card-3",
      start: "center top",
      end: "center top",
      toggleActions: "play none none none",
	},
    ease: "power1.out",
    duration: 1,
	delay:0.5
  }
);
gsap.fromTo(".founder-tag", 
  {
    y: 100, // Start from 100px below the normal position
    opacity: 0 // Start invisible
  }, 
  {
    y: 0, // End at the normal position
    opacity: 1, // End fully visible
    scrollTrigger: {
      trigger: ".card-3",
      start: "center top",
      end: "center top",
      toggleActions: "play none none none",
	},
    ease: "power1.out",
    duration: 1,
	delay:1.5
  }
);
gsap.fromTo(".service-staff-team", 
  {
    opacity: 0 // Start invisible
  }, 
  {
    y: 0, // End at the normal position
    opacity: 1, // End fully visible
    scrollTrigger: {
      trigger: ".card-3",
      start: "center top",
      end: "center top",
      toggleActions: "play none none none",
	},
    ease: "power1.out",
    duration: 1,
	delay:1
  }
);
gsap.fromTo(".staff-tag", 
  {
    opacity: 0 // Start invisible
  }, 
  {
    y: 0, // End at the normal position
    opacity: 1, // End fully visible
    scrollTrigger: {
      trigger: ".card-3",
      start: "center top",
      end: "center top",
      toggleActions: "play none none none",
	},
    ease: "power1.out",
    duration: 1,
	delay:2
  }
);

</script>
  